.tagContainer{
    margin-top: 5%;
}

.tag{
    outline: none;
    border: none;
    color: rgb(82, 82, 82);
    margin: 0px 30px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.active{
    font-weight: bold;
    background-color: rgb(243, 98, 243);
    padding: 10px 20px;
}